.PomodoreContainer {
  border-top: 1px solid black;
  width: 100%;
  height: 10%;
  min-height: 100px;
  background-color: #0077c2;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.PomodoreContainer div span {
  font-size: larger;
  font-weight: bold;
}

.PomodoreTimer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}