.TaskContainer {
  border-right: 1px solid black;
  width: 50%;
  height: 90%;
  min-width: 200px;
  min-height: 400px;
}

.TaskHeadlineContainer {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: flex-start;
  background-color: #0077c2;
}

.TaskComponent {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: flex-start;
}

.TaskDescription {
  width: 100%;
  margin-right: 20px;
}

.TaskHeadlineSpan {
  color: #fafafa;
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  width: 100%;
}