body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.RoundButton {
  flex-shrink: 0;
  font-size: larger;
  font-weight: bold;
  margin-right: 20px;
  border: 2px solid;
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
}

.RoundButtonWhite {
  border-color: #fafafa;
  color: #fafafa;
}

.RoundButtonWhite:hover {
  background-color: #fafafa;
  color: black
}

.RoundButtonBlack {
  border-color: black;
  color: black;
}

.RoundButtonBlack:hover {
  background-color: black;
  color: #fafafa;
}

.RoundButtonRed {
  border-color: red;
  color: red;
}

.RoundButtonRed:hover {
  background-color: red;
  color: #fafafa;
}

.ConfirmButton {
  border: 2px solid #0077c2;
  background-color: #fafafa;
  color: #0077c2;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

.ConfirmButton:hover {
  background-color: #0077c2;
  color: #fafafa;
}